In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
from datetime import datetime

from matplotlib import rc
rc('font',family='AppleGothic')

import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
from sklearn import linear_model
from scipy import stats
import statsmodels
import statsmodels.api as sm

import statsmodels.formula.api as smf
import glob
import os

import time
import re

In [325]:
### 각 연도별 매출액 데이터에서 필요 없는 행 열 제거 후

def preprocessing(*yeardatas):
    for yeardata in yeardatas:
        data = pd.read_csv('/Users/hanjaemin/Desktop/seoul_data/original_data/상권/상권_추정매출액/'+yeardata+'.csv',encoding = 'euc-kr')
        data.drop(columns = ['서비스_업종_코드'], axis = 1, inplace = True)
        data.drop(columns = ['상권_코드'], axis = 1, inplace = True)
        data.drop(columns = ['상권_코드_명'], axis = 1, inplace = True)
#         data.drop(columns = ['서비스_업종_코드_명'], axis = 1, inplace = True)
        data.drop(columns = ['상권_구분_코드_명'], axis = 1, inplace = True)
        data.to_csv('/Users/hanjaemin/Desktop/seoul_data/merge_data/' + yeardata + '.csv')

In [326]:
preprocessing('2018','2019','2020','2021')

In [327]:
### 각 csv파일 합치기

input_data = '/Users/hanjaemin/Desktop/seoul_data/merge_data'

data_list = glob.glob(os.path.join(input_data, '20*'))
all_data=[]
for file in data_list:
    df = pd.read_csv(file) 
    all_data.append(df)

combinedata = pd.concat(all_data, axis=0, ignore_index=True)
combinedata.reset_index(drop = True,inplace = True)
combinedata.drop(columns=['Unnamed: 0'],axis=1,inplace=True)
# sales_1821 = combinedata.groupby(["기준_년_코드","기준_분기_코드","상권_구분_코드"]).sum().reset_index()

In [328]:
combinedata

,기준_년_코드,기준_분기_코드,상권_구분_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2020,1,A,____,431442455.0,18548,79,21,13,15,...,345,8752,7776,611,3828,4356,3428,2614,1690,19
1,2020,1,A,以____,25767161.0,1413,78,22,12,17,...,0,592,694,145,368,240,368,96,69,1
2,2020,1,A,쇱___,55484866.0,1272,83,17,14,19,...,241,622,508,0,134,245,275,314,162,3
3,2020,1,A,____,156728306.0,3589,42,58,6,8,...,33,1281,2014,5,1361,1116,331,325,157,3
4,2020,1,A,_낵,257814129.0,27092,76,24,16,14,...,1205,10426,14742,234,4316,7089,6188,4351,2989,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559263,2018,4,A,중식음식점,208274869.0,7652,63,37,13,12,...,896,2840,2640,102,1843,1817,843,677,203,9
559264,2018,4,R,한의원,35578749.0,311,88,12,24,19,...,0,154,157,0,21,60,31,86,113,0
559265,2018,4,A,분식전문점,849800508.0,69598,76,24,16,14,...,13865,35179,29118,1324,24344,20933,10302,5379,2016,10
559266,2018,4,D,치과의원,384299742.0,2498,100,0,24,19,...,2,1743,739,12,309,533,771,567,290,2
559267,2018,4,A,일반의류,7041051.0,138,100,0,25,31,...,0,0,138,0,0,63,29,0,46,3

In [130]:
sales_18_21.to_csv('/Users/hanjaemin/Desktop/mergedata2018~20211.csv',index=False)

In [131]:
sales_18_21 = pd.read_csv('/Users/hanjaemin/Desktop/mergedata2018~20211.csv')

In [141]:
### Dataframe 열 확인
sales_18_21.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [142]:
sales_18_21.columns.get_loc("주중_매출_금액")

28

In [143]:
sales_18_21.columns.get_loc("연령대_60_이상_매출_금액")

50

In [144]:
### 필요 없는 열 제거 후 합치기
front = sales_18_21.iloc[:,[0,1,2,3]]
front

    기준_년_코드  기준_분기_코드 상권_구분_코드     분기당_매출_금액
0      2018         1        A  2.305196e+08
1      2018         1        D  1.185334e+09
2      2018         1        R  4.330969e+08
3      2018         1        U  4.264228e+09
4      2018         2        A  2.470055e+08
..      ...       ...      ...           ...
59     2021         3        U  4.074177e+09
60     2021         4        A  2.742003e+08
61     2021         4        D  1.408877e+09
62     2021         4        R  6.944676e+08
63     2021         4        U  4.453754e+09

[64 rows x 4 columns]

In [146]:
midle = sales_18_21.iloc[:,29:52]
midle

,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,...,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수
0,5.542217e+07,3.345962e+07,3.567151e+07,3.665202e+07,3.312903e+07,3.618525e+07,3.459570e+07,2.082647e+07,1.047971e+07,2.008714e+07,...,2.828554e+07,1.050340e+08,9.226569e+07,1.910944e+06,3.158519e+07,4.143818e+07,5.112672e+07,4.146064e+07,2.977822e+07,8492.333686
1,2.631779e+08,1.784578e+08,1.860035e+08,1.944577e+08,1.691491e+08,1.940880e+08,1.672627e+08,9.591525e+07,4.884877e+07,9.671739e+07,...,1.235404e+08,4.789480e+08,4.559075e+08,1.189090e+07,2.167233e+08,2.219609e+08,2.101796e+08,1.634792e+08,1.106216e+08,33078.621669
2,1.173423e+08,5.899682e+07,6.389898e+07,6.696778e+07,6.297263e+07,6.291834e+07,7.394825e+07,4.339407e+07,1.133351e+07,3.899583e+07,...,3.216936e+07,1.720375e+08,2.016631e+08,2.271706e+06,4.350525e+07,6.336675e+07,7.716925e+07,9.156742e+07,9.582004e+07,10999.638856
3,1.107438e+09,5.791979e+08,6.428256e+08,6.521464e+08,6.117987e+08,6.708221e+08,6.911015e+08,4.163361e+08,1.882264e+08,2.789590e+08,...,4.802697e+08,1.614235e+09,1.924601e+09,3.258374e+07,8.099156e+08,8.547071e+08,7.039191e+08,6.085838e+08,5.291265e+08,107121.792899
4,6.050316e+07,3.670072e+07,3.625898e+07,3.609576e+07,3.666119e+07,4.078567e+07,3.608144e+07,2.442172e+07,1.162235e+07,2.215874e+07,...,3.170928e+07,1.123091e+08,9.960118e+07,2.288263e+06,3.508157e+07,4.444174e+07,5.318050e+07,4.511551e+07,3.180397e+07,9584.427749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,1.039315e+09,5.426367e+08,5.835126e+08,5.672445e+08,6.599788e+08,6.814895e+08,6.324495e+08,4.068655e+08,3.448038e+07,3.511200e+08,...,1.795179e+08,1.759991e+09,1.962742e+09,2.142722e+07,6.657736e+08,8.664585e+08,8.465246e+08,6.782316e+08,6.443176e+08,103277.369176
60,6.188488e+07,3.837508e+07,4.161963e+07,4.199522e+07,4.133385e+07,4.899166e+07,3.792446e+07,2.396043e+07,5.921748e+06,2.846714e+07,...,2.344012e+07,1.346879e+08,1.133712e+08,1.762158e+06,3.382530e+07,4.687349e+07,6.124731e+07,5.789489e+07,4.645596e+07,9557.354715
61,3.059653e+08,2.021059e+08,2.101890e+08,2.149618e+08,2.194184e+08,2.562362e+08,1.899976e+08,1.159677e+08,3.662307e+07,1.369710e+08,...,9.639798e+07,6.071456e+08,5.573249e+08,9.946410e+06,2.172352e+08,2.613726e+08,2.740777e+08,2.340457e+08,1.677918e+08,34053.591993
62,1.770346e+08,9.506301e+07,9.969574e+07,9.827228e+07,1.035915e+08,1.208105e+08,1.149779e+08,6.205664e+07,8.553262e+06,1.038992e+08,...,2.309095e+07,2.918008e+08,3.629409e+08,2.038977e+06,4.841339e+07,8.694981e+07,1.195798e+08,1.682598e+08,2.295009e+08,17576.287085
63,1.140344e+09,5.876255e+08,6.467036e+08,6.655932e+08,6.569362e+08,7.565519e+08,6.987092e+08,4.416346e+08,7.434581e+07,3.790167e+08,...,3.034317e+08,1.843381e+09,2.062729e+09,2.944666e+07,7.243953e+08,8.739741e+08,7.834022e+08,7.429044e+08,7.520034e+08,106989.061594

In [ ]:
# ### 2018년 data 필요 없는 열 제거, 결측값 가지고 있는 길, 업종 제거

# sales_2018 = sales_2018[(sales_2018.상권_구분_코드 == 'A') & (sales_2018.상권_코드_명 != '대학14길')]
# sales_2018.drop(columns = ['서비스_업종_코드'], axis = 1, inplace = True)
# sales_2018.drop(columns = ['상권_코드'], axis = 1, inplace = True)
# sales_2018.drop(columns = ['상권_구분_코드_명'], axis = 1, inplace = True)
# sales_2018.reset_index(inplace=True,drop=True)
# for sector in sector_list:
#     sales_2018.drop(sales_2018[sales_2018.서비스_업종_코드_명 == sector].index,axis=0,inplace=True)